@import "_variables.scss";

.food{
    background-color: #77435d;
 
    .card1{
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: relative;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        
          
      .card-side{
        height: 20rem;
        width: auto;
        font-size: 15px;
        color: white;
        backface-visibility: hidden;

            .card1-side-front{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transition: all 1s;
            }

             .card1-side-back{
            background-color: #f5e1b6;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transform: rotateY(-180deg);
            transition: all 1s;
            }

        }
        .card1:hover .card1-side-front{
            transform: rotateY(-180deg);}

        .card1:hover .card1-side-back{
            transform: rotateY(0deg);} 
        }  

    
    }