@import "_variables.scss";
.footer{
    .text-box4 {
        position: absolute;
        height: 0rem;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 5rem;
      }
  
        background-color: #ff9090;
       /*  border:#77435d; */
        border-style: dashed;
        font-family: 'Inconsolata', monospace;
        font-weight:bold;
        /* color:rgb(0, 0, 0); */
        font-size: 1rem;
        text-align:center;
        -webkit-font-smoothing: antialiased;}
