@import "_variables.scss";

.food{ 
   background-color: #f3c180;
   border-radius: 3rem;
   height: 80rem;
     @include tablet{ 
    height: 65rem;}
     @include laptop{
      height: 60rem;}

    
    .text-box2 {
        position: absolute;
        height: 10rem;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 5rem;
     
      }



 
   .card-side{
    position: absolute;
    height: auto;
    width: 30rem;
    left:2rem;
    top: 120rem ;
    transform-style: preserve-3d;
    font-size: .8rem;
    transition: all 0.5s ease;


     @include tablet{ 
         top:152rem;
        width: 23rem;
        left:2rem;
        font-size: .8rem;}
        @include laptop{
            top: 120rem;
            width: 30rem;
            left:17rem;}
    
    .card1{
    width: 20rem;
    height:auto;
    position: relative;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: auto;
    transform-style: preserve-3d;

    

    .card-side:hover{
        transform: rotateY(180deg);}

        .card1-side-front{
        position: absolute;
        height: 20rem;
        width: 30rem;
        overflow: hidden;
        backface-visibility: hidden;
        
        }

         .card1-side-back{
        position: absolute;
        height: 20rem;
        width: 30rem;
        overflow: hidden;
        backface-visibility: hidden; 
        transform: rotateY(180deg);
        }}}

        
  .card-sidee{
    position: absolute;
    height: auto;
    width: 30rem;
    left: 9.5rem;
    top: 125rem; 
    width: auto;
    transform-style: preserve-3d;
    font-size: .8rem;
    transition: all 0.5s ease;
    @include tablet{
        top: 147rem; 
        width: 23rem;
        left:48rem;
        font-size: .8rem;}
        @include laptop{
            top: 115rem;
            width: 30rem;
            left:85rem;}
        
        .card2{
            width: 20rem;
            left: -5.5rem; 
            top: 10rem;
            height:auto;
            position: relative;
            margin-top: 0rem;
            margin-left: 0rem;
            margin-right: auto;
            
    
             .card-sidee:hover{
                transform: rotateY(180deg);}
    
                .card2-side-front{
                    position: absolute;
                    height: auto;
                    width: 30rem;
                    left:0rem;
                    backface-visibility: hidden;
                   }

    
                .card2-side-back{
                height: auto;
                width: 30rem;
                left:0rem;
                backface-visibility: hidden;
                transform: rotateY(180deg);
                   }}}


                .card-sideee{
                    position: absolute;
                    height: auto;
                    width: 20rem;
                    left: 0rem;
                    transform-style: preserve-3d;
                    font-size: .8rem;
                    backface-visibility: hidden; 
                    transition: all 0.5s ease;
                  

                    
                    @include tablet{
                        top: 275rem;
                        width: 23rem;
                        left:19rem;
                        font-size: .8rem;}
                        @include laptop{
                            top: 190rem;
                            width: 30rem;
                            left:120rem;}
                        
                    .card3{
                    width: 20rem;
                    left: 2rem;
                    height:auto;
                    position: relative;
                    margin-top: 0rem;
                    margin-left: 0rem;
                    margin-right: auto;
                    
            
                    .card-sideee:hover{
                        transform: rotateY(180deg);}
            
                        .card3-side-front{
                            position: absolute;
                            height: auto;
                            top: 50rem;
                            width: 30rem;
                            left:2rem;
                            z-index: 0rem; 
                       
                        }
            
                         .card3-side-back{
                        position: absolute;
                        height: 20rem;
                        width: 30rem;
                        left:2rem;
                        backface-visibility: hidden;
                        transform: rotateY(180deg);
                           }
                        
                     
                        }}}

 
