@import "_variables.scss";
@import "_usergallery.scss";
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Sigmar One', cursive;
 
}
 
body { 
  background-color: color(rgb(248, 255, 255));
}
  
  .header {
    position: relative;
    height: 100vh;

    .covertop{
      position: absolute;
      top: 20%;
      height: 5.6rem;
      width: auto;
      border-radius: 1rem;
      filter: opacity(50%);

      @include tablet{
          top: 20%;
          left: 10%;
          height: 10rem;
          width: auto;
          }
      
      @include laptop{
      top: 20%;
      left: 8%;
      height: 10rem;
      width: auto;
      }
    }

    .coverbottom{
      position: absolute;
      top: 70%;
      height: 5.6rem;
      width: auto;
      border-radius: 1rem;
      filter: opacity(50%);

      @include tablet{
        top: 70%;
        left: 10%;
        height: 10rem;
        width: auto;
        }
    
    @include laptop{
    top: 70%;
    left: 8%;
    height: 10rem;
    width: auto;
    }
      
    }

    .covermap{
      position: absolute;
      top: 50%;
      left: 40%;
      height: auto;
      width: 20rem;
      

      @include tablet{
        width: auto;
        height: 35rem;
        left: 52%;
        top: 40%;
      }
      @include laptop{
        top: 10%;
        left: 50%;
        height: auto;
        width: 70rem;
    }
      
    }
 
   
   background-image: linear-gradient(
      to right bottom,
      rgba(color(primary), 0.5),
      rgba(color(primary-light), 0.5)
    );
    background-position: top;
    background-size: cover;
    
 
  .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
  }
 
  .heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100vw;
    text-align: center;
    font-weight: 700;

 
    .heading-primary-main {
      font-size: 4rem;
      text-shadow: 3px 3px #333;
      width: 90vw;
      letter-spacing: 0.5rem;
      text-align: center;
      margin: 0 auto;
      @include tablet {
        font-size: 6rem;
        letter-spacing: 0.5 rem;
      }
      @include laptop {
        font-size: 10rem;
        letter-spacing: 1rem;
      }
    }
    .heading-primary-sub {
      font-size: 1.5rem;
      width: 90vw;
      margin: 0 auto;
      text-align: center;
      color: rgb(0, 63, 127);
      transition-delay: 2.1s;
      animation-timing-function: ease-out;
      @include laptop {
        font-size: 3rem;
      }
    }
    .coverplane{
      position: absolute;
      top: 85%;
      left: 72%;
      height: auto;
      width: 5rem;
      animation-name: slide-in;
      animation-duration: 2s;
      animation-timing-function: ease-out;
     
      @include tablet{
        width: auto;
        height: 7rem;
        left: 46rem;
        top: 20rem;
      }
      @include laptop{
        top: 55%;
        left: 57%;
        height: auto;
        width: 27rem;
    }
    }
   }
  
}

.cities{
background-color: #fff0cf;

.cities-text-box{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.7rem;
  width: 70vw;
  margin: 0 auto;
  /*text-align: center;*/
  color: rgb(56, 56, 56);
  @include laptop {
    font-size: 2rem;
  }
}

.user-gallery-gallery{
  position:relative;
}

.content{
  opacity:0;
  font-size: 40px;
  position:absolute;
  top:15rem;
  left:3rem;

  @include tablet{
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:35rem;
    left:20rem;
  }

  @include laptop{
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:30rem;
    left:14rem;
  }
}
.text1{
  font-size: 4rem;
  color: white;
}
.text2{
  font-size: 3.7rem;
  color: white;
}

.text3{
  font-size: 4rem;
  color: white;
}

.user-gallery-gallery .content:hover { opacity:1; }      
.user-gallery-gallery .content .text1 {
height:0;
opacity:1;
transition-delay: 0s;
transition-duration: 0.5s;
}

.content1{
  opacity:0;
  font-size: 40px;
  position:absolute;
  top:39rem;
  left:4rem;
  
  @include tablet{
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:80rem;
    left:20rem;
  }

  @include laptop{
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:30rem;
    left:71rem;
  }
 
}


.user-gallery-gallery .content1:hover { opacity:1; }      
.user-gallery-gallery .content1 .text2 {
height:0;
opacity:1;
transition-delay: 0s;
transition-duration: 0.5s;
}

.content2{
  opacity:0;
  font-size: 40px;
  position:absolute;
  top:62rem;
  left:4rem;

  @include tablet{
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:130rem;
    left:20rem;
  }

  @include laptop{
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:30rem;
    left:129rem;
  }
 
 
}


.user-gallery-gallery .content2:hover { opacity:1; }      
.user-gallery-gallery .content2 .text3 {
height:0;
opacity:1;
transition-delay: 0s;
transition-duration: 0.5s;
}

@keyframes slide-in {
  0% {
    transform: translateX(-200rem);
  }
  100% {
    transform: translateX(0);
  }
}
}


