@import "_variables.scss";
@import "_usergallery.scss";
@import "_cities.scss";

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Sigmar One', cursive;
 
}
 
body { 
  background-color: color(rgb(248, 255, 255));
}
  
  .header {
    position: relative;
    height: 100vh;

    

    .covertop{
      position: absolute;
      top: 20%;
      height: 5.6rem;
      width: auto;
      border-radius: 1rem;
      filter: opacity(50%);

      @include tablet{
          top: 20%;
          left: 10%;
          height: 10rem;
          width: auto;
          }
      
      @include laptop{
      top: 20%;
      left: 8%;
      height: 10rem;
      width: auto;
      }
    }

    .coverbottom{
      position: absolute;
      top: 70%;
      height: 5.6rem;
      width: auto;
      border-radius: 1rem;
      filter: opacity(50%);

      @include tablet{
        top: 70%;
        left: 10%;
        height: 10rem;
        width: auto;
        }
    
    @include laptop{
    top: 70%;
    left: 8%;
    height: 10rem;
    width: auto;
    }
      
    }

    .covermap{
      position: absolute;
      top: 50%;
      left: 40%;
      height: auto;
      width: 20rem;
      

      @include tablet{
        width: auto;
        height: 35rem;
        left: 52%;
        top: 40%;
      }
      @include laptop{
        top: 10%;
        left: 50%;
        height: auto;
        width: 70rem;
    }
      
    }
 
   
   background-image: linear-gradient(
      to right bottom,
      rgba(color(primary), 0.5),
      rgba(color(primary-light), 0.5)
    );
    background-position: top;
    background-size: cover;
    
 
  .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
  }
 
  .heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100vw;
    text-align: center;
    font-weight: 700;

 
    .heading-primary-main {
      font-size: 4rem;
      text-shadow: 3px 3px #333;
      width: 90vw;
      letter-spacing: 0.5rem;
      text-align: center;
      margin: 0 auto;
      @include tablet {
        font-size: 6rem;
        letter-spacing: 0.5 rem;
      }
      @include laptop {
        font-size: 10rem;
        letter-spacing: 1rem;
      }
    }
    .heading-primary-sub {
      font-size: 1.5rem;
      width: 90vw;
      margin: 0 auto;
      text-align: center;
      color: rgb(0, 63, 127);
      transition-delay: 2.1s;
      animation-timing-function: ease-out;
      @include laptop {
        font-size: 3rem;
      }
    }
    .coverplane{
      position: absolute;
      top: 85%;
      left: 72%;
      height: auto;
      width: 5rem;
      animation-name: slide-in;
      animation-duration: 2s;
      animation-timing-function: ease-out;
     
      @include tablet{
        width: auto;
        height: 7rem;
        left: 46rem;
        top: 20rem;
      }
      @include laptop{
        top: 55%;
        left: 57%;
        height: auto;
        width: 27rem;
    }
    }
   }
  
}



.food{
  background-color: #77435d;

  /*.card1{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-side{
    height: 20rem;
    width: auto;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
  }*/
   

  }

