$colors: (
  primary: #75ddd8,
  primary-light: #f5e1b6,
  grey: #c5c6c7,
  primary-dark: #77435d,
  black: #0b0c10
);
$phone: 600px;
$tablet: 600px;
$laptop: 900px;
$desktop: 1100px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin tablet{
  @media(min-width: #{$tabblet}){
    @content; 
  }
}

@mixin laptop{
  @media(min-width: #{$laptop}){
    @content; 
  }
}

@mixin desktop{
  @media(min-width: #{$desktop}){
    @content; 
  }
}